---
layout: cafe.pug
title: About The Early Bird Cafe
desc: About The Early Bird Cafe
kw: early bird, cafe
image: "/img/cafe/about.jpg"
alt_text: coffee cup
name: about
---

h1 About Us
p The Early Bird Cafe is a cosy family-run business serving all day breakfast and lots of caffeine.

section
  img(src="/img/cafe/coffee-beans.jpg")
  div
    h2 Our Coffee
    p We know that excellent coffee is a sensory delight. All our coffee is made with freshly roasted specially graded coffee beans. We source our coffee beans exclusively from suppliers committed to fair trade and organic growing.

section
  img(src="/img/cafe/bread.jpg")
  div
    h2 Our Bakery
    p All our bread and baked goods are made fresh on site every morning. We use traditional methods and simple, honest ingredients, with no artificial additives. Our chocolate chip cookies are a customer favorite, as well as our popular brownies, cinnamon buns, and muffins.


section
  img(src="/img/cafe/brunch.jpg")
  div
    h2 Our Food
    p With over 30 years of experience in the hospitality trade, we understand that a good brunch sets you up for the rest of the day. At The Early Bird, our food is fresh and simple. We serve all-day bright, wholesome, healthy and filling food that we all love to eat. 



