@use "variables" as v;

@mixin bg-img($url, $fixed: false) {
   @if $fixed {
      background: url($url) no-repeat center center fixed;
   }

   @else {
      background: v.$color-dark url($url) no-repeat;

   }

   background-size: cover;
}