@use "variables" as *;

html {
   scroll-padding-top: 14rem;
}

body {
   width: 100%;
   margin: 0 auto;
}

header {
   display: none;
}

#mobile-menu {
   position: fixed;
   bottom: 1.5rem;
   left: 50%;
   margin-left: -1.5rem;
   padding: 0.5rem;
   z-index: 3;
}

nav {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100%;
   position: fixed;

   ul {
      width: 100%;
      flex: 1;
   }

   p {
      width: 100%;
      padding-bottom: 5rem;
   }

}

#hero,
#content {
   width: 100%;
   position: relative;
   min-height: 100vh;
}

#hero {
   display: none;
}

#content {
   display: block;

   #menu_menu {
      padding: 1rem 0;
      position: sticky;
      top: 0;
      z-index: 10;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
   }

   #menu_content li {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      padding: 0.8rem 0 0.5rem 0;

      .m-img {
         display: none;
      }

      .m-name {
         padding-left: 1rem;
         flex: 1;
      }

      .m-price {
         padding-right: 1rem;
      }
   }
}

@media (min-width: $tablet-bp) {

   header {
      display: block;

      nav {
         width: $nav-width;
         float: left;

         p {
            padding-bottom: 0.5rem;
         }
      }
   }

   #mobile-menu {
      display: none;
   }

   #hero.hero-home {
      display: none;
   }

   main {
      width: calc(100% - $nav-width);
      float: right;
   }

   #content {
      &.content-home {
         display: block;
      }

      #menu_content li {

         .m-img {
            display: block;
            padding-left: 1rem;
         }

         .m-name {
            padding-left: 0;
         }
      }
   }
}

@media (min-width: $desktop-bp) {
   nav {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
   }

   #hero,
   #content {
      top: 0;
      width: calc(50vw - $nav-width/2);
      display: block;
   }

   #hero {
      position: fixed;
      left: 0;
      overflow: hidden;
   }

   #content {
      position: absolute;
      right: 0;
      overflow: visible;
   }

}

@media (min-height: $tablet-bp) {
   nav ul {
      margin-top: 5rem;
   }

   #logo {
      margin-top: 2rem;
   }
}