---
layout: cafe.pug
title: Contact The Early Bird Cafe
desc: Contact The Early Bird Cafe
kw: early bird, cafe, contact
image: "/img/cafe/hero.jpg"
alt_text: coffee cup
name: contact
---

h1 Contact Us
  form
    input#name(name="name" type="text" placeholder="Name")
    input#email(name="email" type="email" placeholder="Email")
    textarea#message(name="message" placeholder="Your message")
    button#submit(type="submit")
      i.fa.fa-envelope-o
      span Send


