---
layout: cafe.pug
title: The Early Bird Cafe
desc: Starting your day early? Come join us at the early bird!
kw: early bird, cafe, morning
name: home
---
h1 Welcome early birds!

p You're up early so we are too.

div#image-load 
  img(src="/img/menu.jpg")
  img(src="/img/contact.jpg")
  img(src="/img/locate.jpg")
  img(src="/img/about.jpg")