$sans-font: "Lalezar", Arial, sans-serif;
$serif-font: "Arvo", serif;
$color-light: #E2D8C7;
$color-dark: #3B2719;
// $color2: #8C6E56;
$color-medium: #673C22;
$nav-width: 25rem;
$tablet-bp: 800px;
$desktop-bp: 1200px;

:root {
    --tablet-bp: 800px;
    --desktop-bp: 1200px;
}