---
layout: cafe.pug
title: Locate The Early Bird Cafe
desc: Locate The Early Bird Cafe
kw: early bird, cafe, locate, find
image: "/img/cafe/hero.jpg"
alt_text: coffee cup
name: locate
---

h1 Find Us

p.located The Early Bird Cafe is located at:
address 
  p 3415 Orchard Lake Rd
  p Keego Harbor, MI 48320

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.9758931923297!2d-83.35121748574528!3d42.59825497917156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824bc0f2e5477bd%3A0xc04ada1425cc476e!2s3415%20Orchard%20Lake%20Rd%2C%20Keego%20Harbor%2C%20MI%2048320%2C%20USA!5e0!3m2!1sen!2s!4v1658729631958!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



