---
layout: cafe.pug
title: The Early Bird Cafe Menu
desc: The Early Bird Cafe's menu
kw: early bird, cafe, menu, coffee, snacks
image: "/img/p/menu.jpg"
alt_text: coffee cup
name: menu
---
#menu_menu
  div 
    a(href="#drinks")
      img(src="/img/p/latte.jpg")
      p drinks 
  div
    a(href="#sweets")
      img(src="/img/p/muffin.jpg")
      p sweets 
  div
    a(href="#savories")
      img(src="/img/p/curry-puff.jpg")
      p savories 

h2#drinks drinks

ul#menu_content
  li
    .m-img 
      img(src="/img/p/latte.jpg") 
    .m-name 
      h3 Latte
      p non-dairy milk options available

    .m-price 
      span $4.50
  li
    .m-img 
      img(src="/img/p/cappuccino.jpg") 
    .m-name
      h3 Cappuccino
      p non-dairy milk options available
    .m-price 
      span $5.50
  li
    .m-img 
      img(src="/img/p/americano.jpg") 
    .m-name 
      h3 Americano
      p with a double shot of espresso
    .m-price 
      span $5.50
  li
    .m-img 
      img(src="/img/p/matcha.jpg") 
    .m-name
      h3 Matcha Latte
      p non-dairy milk options available
    .m-price 
      span $5.25
  li
    .m-img 
      img(src="/img/p/chai.jpg") 
    .m-name
      h3 Chai
      p flavored with cinnamon and cardamom
    .m-price 
      span $5.50
  li
    .m-img 
      img(src="/img/p/tea.jpg") 
    .m-name 
      h3 Tea
      p green or black
    .m-price 
      span $5.50
  li
    .m-img 
      img(src="/img/p/hot-chocolate.jpg") 
    .m-name 
      h3 Hot Chocolate
      p plain, whipped cream, or marshmallows
    .m-price 
      span $5.50

h2#sweets sweets
ul#menu_content
  li
    .m-img 
      img(src="/img/p/muffin.jpg") 
    .m-name 
      h3 Blueberry Muffin
      p sweetened with honey
    .m-price $4.25
  li
    .m-img 
      img(src="/img/p/chocolate-chip-cookie.jpg") 
    .m-name 
      h3 Chocolate Chip Cookie
      p smei-sweet chocolate
    .m-price $3.75
  li
    .m-img 
      img(src="/img/p/brownie.jpg") 
    .m-name 
      h3 Brownie
      p vegan and gluten-free
    .m-price $3.50
  li
    .m-img 
      img(src="/img/p/cinnamon-roll.jpg") 
    .m-name 
      h3 Cinnamon Roll
      p with light glaze
    .m-price $4.00
  li 
    .m-img 
      img(src="/img/p/pancakes.jpg") 
    .m-name 
      h3 Pancakes
      p vegan and gluten-free
    .m-price $5.50 

h2#savories savories
ul#menu_content
  li
    .m-img
      img(src="/img/p/curry-puff.jpg") 
    .m-name 
      h3 Curry Puffs
      p vegetarian, very spicy
    .m-price $6.25
  li
    .m-img 
      img(src="/img/p/poke-bowl.jpg") 
    .m-name 
      h3 Poke Bowl
      p vegan and gluten-free
    .m-price $5.75
  li
    .m-img 
      img(src="/img/p/sandwich.jpg") 
    .m-name 
      h3 Roast Beef Sandwich
      p with egg and avocado
    .m-price $4.25
  li
    .m-img 
      img(src="/img/p/ramen.jpg") 
    .m-name 
      h3 Beef Ramen
      p with egg, green onions, carrot, and mushrooms 
    .m-price $4.25
  li
    .m-img 
      img(src="/img/p/soup.jpg") 
    .m-name 
      h3 Vegetable Soup
      p tomato base with pasta and seasonal vegetables
    .m-price $4.25
  li
    .m-img 
      img(src="/img/p/curry.jpg") 
    .m-name 
      h3 Chickpea Curry
      p vegetarian, mildy spicy
    .m-price $4.25  
  li
    .m-img 
      img(src="/img/p/salad.jpg") 
    .m-name 
      h3 Garden Salad
      p made with seasonal vegetables
    .m-price $4.25  





